body {
  font-family: 'Cabin', sans-serif;
}

#about {
  line-height: 1.3em;
}

.jumbotron {
  margin-top: 0;
  padding-left: 5%;
  font-size: 4em;
  height: 400px;
  background-image: url("./../../img/header.jpg");
  background-size: cover;
}

.center {
  text-align: center;
}
